extends ../layout

block content
	#home
	.container
		.col-xs-12
			div(id='' + company.id).profile
				.container-fluid
					.row
						.col-xs-2
							button.btn.btn-md.btn-info.pull-left#btn-new Новые заявки
						.col-xs-2
							button.btn.btn-md.btn-info.pull-left#btn-today Заявки на сегодня
						.col-xs-2
							button.btn.btn-md.btn-info#btn-archive Архив заявок
						.col-xs-2
							button.btn.btn-md.btn-info#btn-stat Статистика
				form(role='form')
					.row
						.col-xs-1
							h2.form-heaing= company.name
					br
					.form
						input(type='hidden' value=company._id name='id')
						each value, field in company
							if (field[0] == '_') 
								- continue;
							.row
								.form-group
									.col-xs-1
										label= field
									.col-xs-4.col-xs-offset-1
										input(type='text' name=field placeholder='Ваш ' + field value=value).form-control
						br
						.row
							.form-group
								.col-xs-1
									label Описание
								.col-xs-6.col-xs-offset-1
									textarea(name='description' cols=100 rows=10).form-control= company._description
						br
						.row
							.form-group
								.col-xs-1
									label Avatar
								.col-xs-4.col-xs-offset-1
									input(type='file' name='avatar').form-control
						br
						.row
							.form-group
								.col-xs-1.col-xs-offset-2
									input(type='submit' value='Save').btn.btn-md.btn-primary
					
				div(class='avatar')
					img(src='/avatars/'+company._avatar alt='avatar' width='200' height='200').img-circle
	script.
		$('#btn-today').click((ev) => {
			window.location.href = '/request/bydate/?company='+!{JSON.stringify(company._id)}+'&date='+new Date().getFullYear()+'-'+("0" + (new Date().getMonth() + 1)).slice(-2)+'-'+("0" + (new Date().getDate())).slice(-2);
			ev.preventDefault();
		})
		$('#btn-new').click((ev) => {
			window.location.href = '/request/list/?id='+company._id;
			ev.preventDefault();
		})
		$('#btn-archive').click((ev) => {
			window.location.href = '/archive/bydate/?date='+new Date().getFullYear()+'-'+("0" + (new Date().getMonth() + 1)).slice(-2)+'-'+("0" + (new Date().getDate())).slice(-2);
			ev.preventDefault();
		})
		$('#btn-stat').click((ev) => {
			window.location.href = '/company/stats';
			ev.preventDefault();
		})
