extends ../layout

block head
	script(src="/js/company.js")

block content
	div(id='' + company.id).profile
		form(role='form')
			.row
				.col-md-1
					h2.form-heaing= company.name
				.col-md-2.col-md-offset-1
					h3
						a(href='reservations')
							span.label.label-info= 'Просмотр заявок'
				.col-md-2
					h3
						a(href='/request/type/list')
							span.label.label-warning= 'Настройка заявок'
			input(type='hidden' value=company.id name='id')
			each value, field in company
				if (field == 'name' || field == 'username' || field == 'logo' || field == 'description') 
					- continue;
				.row
					.form-group
						.col-md-1
							label= field
						.col-md-2.col-md-offset-1
							input(type='text' name=field placeholder='Your ' + field value=value)
			.row
				.form-group
					.col-md-1
						label Avatar
					.col-md-2.col-md-offset-1
						input(type='file' name='logo')
			input(type='submit' value='Save').btn.btn-md.btn-primary

		div(class='avatar')
			img(src='\\avatars\\'+company.avatar alt='avatar' width='200' height='200').img-circle

